@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&family=Concert+One&display=swap");

.navBar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.title {
  place-self: center;
  z-index: 1;
  position: relative;
}

.heading {
  font-family: "Concert One", cursive;
  font-size: 35px;
  color: #f5f7ed;
  text-align: center;
  font-weight: 400;
}

.signUp {
  grid-column-start: 2;
  justify-self: center;
  padding: 40%;
  border: solid #abe9cd;
  border-radius: 20px;
}

.login {
  grid-column-start: 4;
  justify-self: center;
  padding: 40%;
  border: solid #abe9cd;
  border-radius: 20px;
}

.inputBox {
  margin: 15px 0;
  border-radius: 5px;
  width: 100%;
  height: 35px;
  border: none;
}

.formButton {
  height: 40px;
  margin: 15px 28px;
  border-radius: 8px;
  padding: 0 50px 9px;
  font-family: "Concert One", cursive;
  border: none;
  background-color: rgb(160, 51, 95);
  font-size: 20px;
  color: white;
}

.aboutButton {
  margin: 15px;
  height: 60px;
  padding: 0 50px;
  place-self: start;
  border-radius: 10px;
  font-family: "Concert One", cursive;
  font-size: 20px;
  color: rgb(6, 51, 34);
  background-color: #abe9cd;
  border: 0px;
}

.contactButton {
  margin: 15px;
  height: 60px;
  padding: 0 50px;
  place-self: end;
  border-radius: 10px;
  font-family: "Concert One", cursive;
  font-size: 20px;
  color: rgb(6, 51, 34);
  background-color: #abe9cd;
  border: 0px;
}
